In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Data/Catraqui Week1 - Week 1.csv")

In [4]:
df

,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY,SUNDAY
0,"Hot or cold cereals, eggs any style, toasts, p...","Hot or cold cereals, eggs any style, toasts, p...","Hot or cold cereals, eggs any style, toasts, p...","Hot or cold cereals, eggs any style, toasts, p...","Hot or cold cereals, eggs any style, toasts, p...","Hot or cold cereals, eggs any style, toasts, p...","Hot or cold cereals, eggs any style, toasts, p..."
1,"Caramelized Onion, Mushroom Pizza with Chef Salad","Spinach Salad with Bacon Dressing , Biscuit","Tourtiere with Baked Beans , Gravy",Pesto Penne Pasta with Garlic Bread,"Mediterranean Cod with Lemon Rice Pilaf , Roas...",Traditional Poutine,"Pancakes, Whipped Cream , Maple Syrup"
2,"Chicken Souvlaki with Tzatziki, Pita Bread , H...","Avocado Chicken S,witch with Potato Salad","Thai Red Curry Pork with Jasmine Rice , Flatbread",Chicken a la King with Parmesan Mashed Potato ...,"Meatloaf with Red Potato, Onions , Vegetable M...","Sausage with Braised Cabbage , Fries","Fish Taco with Pico de Gallo , Chipotle Mayo"
3,"sandwiches: Tomato, Cheese, Chicken","sandwiches: Tomato, Cheese, Chicken","sandwiches: Tomato, Cheese, Chicken","sandwiches: Tomato, Cheese, Chicken","sandwiches: Tomato, Cheese, Chicken","sandwiches: Tomato, Cheese, Chicken","sandwiches: Tomato, Cheese, Chicken"
4,"Beef Chili with Stuffed Green Pepper , Potato ...","Alfredo Baked Penne with Diced Chicken , Garli...","Beef Stir Fry with Broccoli , Basmati Rice","Beef Stroganoff with Dill Butter , Glazed Noodles","Roast Beef with Demi Glace, mini Yorkshire, Pe...","Spinach , Cheese Canneloni in Rose Cream Sauce...","Tuscan Chicken with Roasted Potato , Vegetable..."
5,"Dill Baked Trout with Lemon Cream, Broccoli, P...",Cacciatore Baked Pork Chop with Mashed Potato ...,"Chicken Breast with Fajita Topping, Mexican Ri...",Cajun Baked Salmon with Rosemary Mashed Potato...,"Chicken Parmigiana with Green Salad , Ranch Dr...",Rosemary Garlic Lemon Roasted Chicken Breast w...,Tortitas de Carne (Sliders in Tomato Sauce) wi...

In [5]:
df['MONDAY '][0].split(",")

['Hot or cold cereals',
 ' eggs any style',
 ' toasts',
 ' pancakes',
 ' fresh fruit salad bar\n']

In [6]:
items=[]

In [7]:
for day in df.columns:
    day_items = df[day]
    for i in range(0, len(day_items)):
        temp = day_items[i].split(",")
        for item in temp:
            items.append(item.strip())

In [8]:
items

['Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'fresh fruit salad bar',
 'Caramelized Onion',
 'Mushroom Pizza with Chef Salad',
 'Chicken Souvlaki with Tzatziki',
 'Pita Bread',
 'Homefries',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Beef Chili with Stuffed Green Pepper',
 'Potato Wedges',
 'Dill Baked Trout with Lemon Cream',
 'Broccoli',
 'Potato Wedges',
 'Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'fresh fruit salad bar',
 'Spinach Salad with Bacon Dressing',
 'Biscuit',
 'Avocado Chicken S',
 'witch with Potato Salad',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Alfredo Baked Penne with Diced Chicken',
 'Garlic Bread',
 'Cacciatore Baked Pork Chop with Mashed Potato',
 'Vegetable Medley',
 'Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'fresh fruit salad bar',
 'Tourtiere with Baked Beans',
 'Gravy',
 'Thai Red Curry Pork with Jasmine Rice',
 'Flatbread',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Beef Stir Fry with Broccoli',
 'Basmati Rice',
 'Chicken Breast with Fajita Topping',
 'Mexican Rice',
 'Sour Cream',
 'Guacamole',
 'Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'sausage',
 'Pesto Penne Pasta with  Garlic Bread',
 'Chicken a la King with Parmesan Mashed Potato',
 'Roasted Vegetables',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Beef Stroganoff with Dill Butter',
 'Glazed Noodles',
 'Cajun Baked Salmon with Rosemary Mashed Potato',
 'Brussel Sprouts',
 'Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'fresh fruit salad bar',
 'Mediterranean Cod with Lemon Rice Pilaf',
 'Roasted Asparagus',
 'Meatloaf with Red Potato',
 'Onions',
 'Vegetable Medley',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Roast Beef with Demi Glace',
 'mini Yorkshire',
 'Peas',
 'Potato Wedges',
 'Chicken Parmigiana with Green Salad',
 'Ranch Dressing',
 'Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'fresh fruit salad bar',
 'Traditional Poutine',
 'Sausage  with Braised Cabbage',
 'Fries',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Spinach',
 'Cheese Canneloni in Rose Cream Sauce',
 'Garlic Toast',
 'Rosemary Garlic Lemon Roasted Chicken Breast with Yam Fries',
 'Dill Mayo',
 'Hot or cold cereals',
 'eggs any style',
 'toasts',
 'pancakes',
 'sausage',
 'Pancakes',
 'Whipped Cream',
 'Maple Syrup',
 'Fish Taco with Pico de Gallo',
 'Chipotle Mayo',
 'sandwiches: Tomato',
 'Cheese',
 'Chicken',
 'Tuscan Chicken with Roasted Potato',
 'Vegetable Medley',
 'Tortitas de Carne (Sliders in Tomato Sauce) with Steamed Rice Mixed with  Vegetables']

In [10]:
len(set(items))

118

In [11]:
df = pd.DataFrame(list(set(items)))

In [39]:
df.drop(columns="ingredients", axis = 1, inplace=True)

In [40]:
df

                                                 item week
0                                                Peas    1
1                    Beef Stroganoff with Dill Butter    1
2                                           Guacamole    1
3                        Fish Taco with Pico de Gallo    1
4   Rosemary Garlic Lemon Roasted Chicken Breast w...    1
..                                                ...  ...
62                                         Pita Bread    1
63                                 Roasted Vegetables    1
64                 Tuscan Chicken with Roasted Potato    1
65                        Beef Stir Fry with Broccoli    1
66                                         Sour Cream    1

[67 rows x 2 columns]

In [134]:
import sqlalchemy
database_username = 'testing'
database_password = 'example-pass'
database_ip       = '20.151.65.130'
database_name     = 'catraquiheights'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [135]:
df2.to_sql(con=database_connection, name='items_against_week', if_exists='replace')

67

In [55]:
df['ingredients'] = 0

In [57]:
df.to_csv("test.csv")

In [140]:
df2 = pd.read_csv("test.csv", index_col=False)

In [142]:
df2.drop(columns='Unnamed: 0', inplace=True)

In [172]:
total_required = {}

In [176]:
for i in df2[df2['week'] == 1].ingredients:
    if i != '0':
        data = json.loads(i)
        for key in data.keys():
            if key in total_required:
                total_required[key] = total_required[key] + data[key]
            else:
                total_required[key] = data[key]

In [177]:
total_required

{'peas': 60,
 'oil': 9,
 'mustard': 6,
 'potatoes': 6,
 'cheese': 50,
 'mushroom': 8,
 'spices': 8}